<footer>
        <a href="#">
            <div id="secondarylogo">
                <img src="../images/grape/icons8-grape-32.png" alt="Logo">
            </div>
        </a>
        <div id="copyright">
            <p>&copy; 2024 Grape Pomace</p>
            <p>All Rights Reserved</p>
        </div>
</footer>