<footer>
        <a href="/">
                <img src="../images/w2w32.png" alt="Logo" style="border-radius: 5px;">
        </a>
        <div id="copyright">
            <p>&copy; 2024  W2W Tech</p>
            <p>All Rights Reserved</p>
        </div>
</footer>