<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google font (Franklin) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="../images/32px.png">
    <title>W2W Tech</title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="hero-banner">
        <div id="on-mobile"></div>
        <div id="hero-content">
            <H1 style="color: white;">Waste to Wealth</H1>
            <a href="/">LEARN MORE</a>
        </div>
        
        <video id="on-web" autoplay loop muted><source src="./images/hero_video_low.mp4" type="video/mp4"></video>
    </div>

    <div>
        <img src="/images/lau.png" alt="">
    </div>

    <%- include('partials/footer') %>
</body>
</html>
