<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google font (Franklin) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="../images/32px.png">
    <title>W2W Tech</title>
</head>
<body>
    <%- include('partials/header') %>

    <div id="banner"></div>
    <section>
        <h2>Welcome to My Sample Page</h2>
        <p>This is a simple HTML page.</p>
        <p>Feel free to modify it as you wish!</p>
    </section>
    <img src="../views/images/lau.png" alt="" style="background-color: aqua;">

    <%- include('partials/footer') %>
</body>
</html>
