<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google font (Franklin) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="../images/32px.png">
    <title>W2W Tech</title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="hero-banner">
        <div id="on-mobile"></div>
        <div id="hero-content">
            <H1 style="color: white;">Waste to Wealth</H1>
            <a href="/services">LEARN MORE</a>
        </div>
        
        <video id="on-web" autoplay loop muted><source src="./images/herobanner.mp4" type="video/mp4"></video>
    </div>

    <div id="products-list">
        <div class="product-card">
            <img src="" alt="">
        </div>
        <div class="product-card">
            <img src="" alt="">
        </div>
        <div class="product-card">
            <span>Test</span>
            <img src="" alt="">
        </div>
    </div>

    <div id="vip2024-video">
        <iframe src="https://drive.google.com/file/d/1vx3GlLuiTEZ8SESem_XaBYiYEG_mGqjE/preview" width="630px" height="360px" frameborder="0" style="z-index: 100; margin-left: 5%; position: absolute; margin-top: 100px; border-radius: 20px;"></iframe>
        <div class="svg-wrapper" style="background-color: white;">
            <svg viewbox="0 0 100 25" preserveAspectRatio="none">
              <path fill="#FFEFCD" d="M0 30 V8 Q40 25 60 12 T100 11 V30z" />
            </svg>
        </div>   
    </div>

    <div id="our-differences">
        <div class="svg-wrapper" style="background-color: #FFEFCD;">
            <svg viewbox="0 0 100 25" preserveAspectRatio="none">
              <path fill="#8F9779" d="M0 30 V15 Q40 25 55 12 T100 11 V30z" />
            </svg>
        </div>
        <img src="" alt="">
    </div>
    
    <div id="sponsors">
        <div class="svg-wrapper" style="background-color: #8F9779;">
            <svg viewbox="0 0 100 25" preserveAspectRatio="none">
              <path fill="#FFEFCD" d="M0 30 V8 Q40 25 60 12 T100 11 V30z" />
            </svg>
        </div>
        <h2>Our Sponsors</h2>
        <div id="sponsor-logo">
            <img src="" alt="LAU logo">
            <img src="" alt="VIP logo">
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
