html{
    overflow-y: scroll;
}
body {
    background-color: #FFEFCD;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}
.hero-banner{
    background-color: #fff;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#on-web{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
#hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 80;
}
#hero-content a{
    padding: 20px;
    background-color: rgba(255, 42, 42, 0.8);
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .142857em;
}
#hero-content a:hover{
    cursor: pointer;
    background-color: rgba(255, 42, 42, 1);

}
#products-list{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#vip2024-video{
    background-color: #FFEFCD;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:flex-start;
    overflow: hidden;
}
#our-differences{
    overflow: hidden;
    background-color: #8F9779;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-areas: 'diff-title diff-title diff-title'
                        'premium student novel';
}
#sponsor-title { 
    grid-area: spons-title;
    text-align: center;
}
#lau-sponsor { grid-area: lau; }
#vip-sponsor { grid-area: vip; }
#sponsor-section{
    background-color: #FFEFCD;
    width: 100%;
    display: grid;
    grid-template-areas: 'spons-title  spons-title'
                        'lau vip';
    grid-column-gap: 150px;
    align-items: center;
    justify-content: center;
}
.svg-wrapper{
    display:block;
    position: relative;
    width: 100%;
    height: 80px;
}
.svg-wrapper svg{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}