html{
    overflow-y: scroll;
}
body {
    background-color: #D9D9D9;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}
.hero-banner{
    background-color: #fff;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#on-web{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
#hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}
#hero-content a{
    padding: 20px;
    background-color: rgba(255, 42, 42, 0.8);
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .142857em;
}
#hero-content a:hover{
    cursor: pointer;
    background-color: rgba(255, 42, 42, 1);

}